.payment-block {
	h6 {
		font-size: 18px;
		line-height: 24px;
		color: #848484;
		font-weight: 500;
	}
	position: relative;
	margin-top: 5vh;
}
.payment-credit-card-box {
	padding: 15px 30px;
	border: 1px solid #ddd;
	margin-bottom: 15px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.payment-credit-card {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	h4 {
		font-size: 14px;
		width: 70%;
		line-height: 24px;
		font-weight: 700;
	}
	p {
		color: #000;
		font-weight: 400;
		margin: 0;
		margin-top: 10px;
		line-height: 22px;
	}
}
.payment-input-box {
	label {
		font-size: 12px;
		text-transform: uppercase;
		color: gray;
		display: block;
		margin: 0;
		line-height: 24px;
	}
	input {
		padding: 5px 10px;
		border: 1px solid #d6d6d6;
		width: 100%;
	}
	margin-bottom: 20px;
}
.payment-input-box.card-meta {
	display: flex;
	justify-content: space-between;
	display: flex;
	justify-content: space-between;
}
.card-name {
	width: 41%;
	width: 41%;
}
.expire-date {
	width: 30%;
	width: 30%;
}
.cvc-code {
	width: 25%;
	width: 25%;
}
.paypal-payment {
	display: flex;
	padding: 20px 0px;
	h6 {
		font-size: 14px;
		color: #000;
		font-weight: 700;
	}
	p {
		color: #565656;
		font-weight: 400;
		margin: 0;
		margin-top: 10px;
		line-height: 22px;
		font-size: 14px;
		margin-right: 20px;
	}
}
input#paypal {
	margin-right: 10px;
}
input#card {
	margin-right: 10px;
}
.custom-button-mt2 {
	margin-top: 20px;
}
.custom-button-cardPay {
	position: absolute;
	right: 0;
	bottom: -56px;
}
